@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f1ccff;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #f3ffff;
  background-image: url("/assets/doppel-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  inset: 0;
}
/* body::before {
  content: "";
  position: fixed;
  pointer-events: none;
  background-image: url("/assets/doppel-frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  inset: 0;
  z-index: 100;
} */
.join-btn {
  position: relative;
  display: inline-block;
}
.join-btn img {
  display: block;
}
.join-btn img.hover-img {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.15s ease;
}
.join-btn:hover img.hover-img {
  opacity: 1;
}
